$body-ff: "Montserrat", sans-serif;
$secondary-ff: "Aleo", serif;

$body-color: #333333;
$primary-color: #fff;
$secondary-color: #5474fd;
$hover-color: #00a650;
$body-bg: $body-color;
$body-font: "Roboto";
$dark: #000;

$border-width: 1px;
