$title-ff: Roboto, sans-serif;
$body-ff: "Josefin Sans", sans-serif;
$secondary-ff: "Aleo", serif;

$body-color: #333333;
$primary-color: #fff;
$secondary-color: #5474fd;
$dark-gray: #666666;
$medium-gray: #898f8f;
$light-gray: #cccccc;

$body-bg: $body-color;

$border-width: 1px;
