$title-ff:Roboto,sans-serif;
$body-ff:'Lato', sans-serif;;
$btn-ff:'Open Sans', sans-serif;

$body-color:#333333;
$primary-color: #f6f6f6;
$secondary-color:#fff;
$dark-gray:#666666;
$medium-gray:#898f8f;
$light-gray:#cccccc;

$article-color: #3c3c3c;
$description_color: #868686;

$body-bg:$secondary-color;

$border-width:1px;