@import "normalize";
@import "variables";
@import "mixins";
@import "style";

$body-font: "Roboto";
$dark: #000;

.form {
  background-color: rgba(#a3d0c3, 0.75);
  font-family: $body-ff;
  border-radius: 10px;
  overflow: hidden;
  color: $primary-color;
  max-width: 550px;
  width: 100%;
  margin: 30px auto;
  &__title {
    cursor: help;
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 3px solid $secondary-color;
  }
  &__input {
    max-width: 450px;
    width: 100%;
    height: 40px;
    display: block;
    margin: 0 auto;
    border-radius: 20px/20px;
    outline: none;
    border: none;
    padding-left: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.55);
    &:focus {
      border: 2px solid $secondary-color;
    }
  }
  &__label {
    text-transform: uppercase;
    font-weight: 300;
    @include adaptiv-font(20, 17);
  }
  &__group {
    margin: 10px;
    padding: 5px;
  }
}

.modal {
  text-align: center;
  display: none;
  z-index: 1000;
  margin: 0;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba($dark, 0.95);
  &__toggle {
    font-family: $body-ff;
    color: $dark;
    font-size: 20px;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
  }
  &__content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
  }
  &__close {
    display: inline-block;
    position: absolute;
    top: 1px;
    right: 5px;
    cursor: pointer;
    font-size: 30px;
  }
}
