@import "normalize";
@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font: 10px $body-ff;
  scroll-behavior: smooth;
}

body {
  @include font($body-ff, 1.4rem, $fc: $body-color, $lh: 1.7);
  padding: 0;
  background-color: $body-bg;
  margin: 0;
}

footer {
  flex-shrink: 0;
}
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  color: $primary-color;
}
a,
button {
  transition: all 0.3s ease-in;
  text-decoration: none;
}
ul {
  padding: 0;
  list-style: none;
}

.section {
  @include bgStretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;

  &__title {
    @include adaptiv-font(36, 26);
    font-weight: 300;
    word-wrap: break-word;
    font-family: $body-ff;
    line-height: normal;
  }
  &__text {
    font-family: $body-ff;
    font-size: 16px;
    font-weight: 300;
    padding: 5px;
    margin-left: 5px;
  }
  &__first {
    min-height: 100vh;
  }
  &__second {
    align-items: center;
  }
  &__third {
    align-items: center;
  }
  &__fourth {
    align-items: center;
  }
  &__fifth {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.scrollUp {
  display: none;
  background-color: rgba($secondary-color, 0.4);
  position: fixed;
  z-index: 200;
  right: 50px;
  bottom: 30px;
  width: 80px;
  height: 80px;
  font-size: 25px;
  color: $primary-color;
  border-radius: 50%;
  & i {
    @include posA;
  }
  @media screen and (max-width: 768px) {
    width: 55px;
    height: 55px;
  }
}
.header {
  position: relative;
  min-height: -moz-calc(100% - 80px);
  min-height: -webkit-calc(100% - 80px);
  min-height: calc(100% - 80px);
  @media screen and (max-width: 768px) {
    height: -moz-calc(100% - 45px);
    height: -webkit-calc(100% - 45px);
    height: calc(100% - 45px);
  }
  @include bgStretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__title {
    text-transform: uppercase;
    @include adaptiv-font(48, 24);
    font-weight: 600;
    white-space: nowrap;
    letter-spacing: 5px;
    line-height: normal;
  }
  &__description {
    @include adaptiv-font(22, 16);
    letter-spacing: 7px;
    font-weight: 300;
    text-transform: none;
  }
  &__burger {
    display: none;
    @media screen and (max-width: 767px) {
      display: block;
      position: fixed;
      z-index: 150;
      right: 10px;
      top: 15px;
      width: 30px;
      height: 20px;
      &.clicked {
        &::before {
          @include tr;
          transform: rotate(45deg);
          top: 9px;
        }
        &::after {
          @include tr;
          transform: rotate(-45deg);
          bottom: 9px;
        }
        & span {
          transform: scale(0);
        }
      }
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      background-color: #fff;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    & span {
      position: absolute;
      background-color: #fff;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
    }
  }
}

//Форма поиска
.searchWrap {
  display: flex;
  justify-content: center;
}
.search {
  background-color: $primary-color;
  width: 650px;
  display: flex;
  justify-content: space-between;
  height: 60px;
  @media screen and (max-width: 768px) {
    max-width: 450px;
    width: 100%;
    border-radius: 100px 100px;
    overflow: hidden;
    & span {
      display: none;
    }
  }

  &__input {
    max-width: 650px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
  }
  &__btn {
    background-color: $secondary-color;
    color: $primary-color;
    margin: 3px;
    padding: 10px 20px 10px 30px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: $body-ff;
    font-size: 1.4rem;
    cursor: pointer;
    border: none;
    @media screen and (max-width: 768px) {
      padding: 15px;
      height: 100%;
      margin: 0;
    }
    &:hover {
      color: #00a650;
    }
    svg {
      margin-left: 6px;
    }
  }
}
//

//скролл
.scroller {
  margin-top: 50px;
  bottom: 20%;

  &__link {
    color: $primary-color;
    font-family: $body-ff;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 14px;
    scroll-behavior: smooth;
    &:hover {
      color: $hover-color;
    }
  }
}
//

//навигация на сайте
.navigation {
  height: 80px;
  background-color: $secondary-color;
  @media screen and (max-width: 767px) {
    height: 45px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    @media screen and (max-width: 767px) {
      justify-content: center;
    }
  }
  &__logo-link {
    color: $primary-color;
    text-transform: uppercase;
    @include adaptiv-font(24, 18);
    &:hover {
      color: $hover-color;
    }
  }
  &__list {
    display: flex;
    @media screen and (max-width: 768px) {
      position: fixed;
      opacity: 0;
      right: 0px;
      top: 0px;
      margin: 0;
      padding: 0;
      width: 0;
      height: 0;
      z-index: 100;
      background-color: $secondary-color;
      flex-direction: column;
      overflow: auto;
      align-items: center;
      justify-content: center;
      justify-items: center;
      font-size: 50px;
      line-height: 30px;
      @include tr;
      &.active {
        opacity: 1 !important;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__item {
    display: inline-block;
    margin-right: 30px;
    @media screen and (max-width: 768px) {
      margin: 0;
    }
  }
  &__link {
    display: inline-block;
    font-family: $body-ff;
    color: $primary-color;
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    &::after {
      display: block;
      position: absolute;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $hover-color;
      content: "";
      transition: width 0.3s ease-out;
    }
    &:hover:after,
    &:focus:after {
      width: 100%;
    }
  }
}
//

// сетка
.row {
  display: flex;
  &--stretched {
    justify-content: space-between;
  }
  &--right {
    justify-content: flex-end;
  }
  &--center {
    justify-content: center;
    padding: 50px;
  }

  @media screen and (max-width: 1030px) {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

.col--1-2 {
  text-align: left;
  max-width: 540px;
  width: 100%;
  &__colour {
    background-color: $body-color !important;
    text-align: center !important;
  }
  &--right {
    display: flex;
    justify-content: flex-end;
  }
}
//

//стили для изображений 2 секции
.imgWrap {
  max-width: 351px;
  width: 100%;
  margin-bottom: 15px;
  &__img {
    max-width: 100%;
  }
  &--right {
    margin-left: auto;
  }
  @media screen and (max-width: 550px) {
    margin: 0 auto !important;
  }
}

.btn {
  display: inline-block;
  padding: 20px 40px;
  font-family: $body-ff;
  text-transform: uppercase;
  background-color: $secondary-color;
  border: none;
  color: $primary-color;
  margin-bottom: 25px;
  &:hover {
    background: $primary-color;
    color: #3a7999;
    box-shadow: inset 0 0 0 3px $secondary-color;
  }
  @media screen and(max-width:550px) {
    margin: 25px auto;
  }
}
// блок с предложениями
.opportunities {
  background-repeat: no-repeat;
  padding: 60px 0;
  background-position: 48% 14%;
  background-color: #333333;
  @media screen and (max-width: 1050px) {
    background-image: none !important;
  }
}

.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #fff;
  &__title {
    font-family: $body-ff;
    @include adaptiv-font(36, 22);
  }
}

.feature {
  background-color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}
//

//инфо-блоки
.info-wrap {
  max-width: 541px;
  margin: 10px;
}

.info {
  width: 100%;
  padding: 50px 30px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.85);

  &__country {
    font-size: 20px;
    font-weight: 300;
  }
  &__title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
  }
  &__description {
    font-size: 16px;
    font-weight: 300;
  }
}

.quote {
  display: flex;
  @media screen and(max-width:946px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }
  &__item {
    text-align: left;
    background-color: $body-color;
    max-width: 670px;
    width: 100%;
    padding: 35px 60px 50px 40px;
    @media screen and (max-width: 946px) {
      background-color: rgba(240, 255, 255, 0.21) !important;
      max-width: 445px;
      width: 100%;
    }
  }
  &__imgWrap {
    max-width: 446px;
    width: 100%;
    &-img {
      height: 100%;
      max-width: 100%;
    }
  }
  &__title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    margin-top: 0;
  }
  &__text {
    font-family: $body-ff;
    text-indent: 1.8em;
    font-size: 15px;
    font-weight: 300;
    margin: 0;
    position: relative;
    margin: 0;
    padding: 15px 10px;
    position: relative;
    text-indent: 1.4em;
    i {
      position: absolute;
      top: 0;
      left: 0;
      color: $secondary-color;

      transform: translate(-30%, -50%);
      @media screen and(max-width:946px) {
        transform: translate(-25%, -50%);
      }
    }
  }
}
.footer {
  padding: 5px;
  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 190px;
    width: 100%;
  }
  &__logo-link {
    font-size: 24px;
    text-transform: uppercase;
    color: $primary-color;
    letter-spacing: 4px;
    font-weight: 600;
    @include hover();
  }
  &__subtitle {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
  }
}

.socials {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  width: 100%;
  &__item {
    display: inline-block;
  }
  &__link {
    font-size: 18px;
    color: $primary-color;
    @include hover();
  }
}

// <!----- About us ----->
.section {
  background-color: $secondary-color;
  text-align: center;
  &--gray {
    background-color: #fbfbfb;
    min-height: auto;
    padding: 7em 0;
  }

  &--bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(240, 255, 255, 0.21);
    color: $secondary-color;
    min-height: auto;
  }
  &__title-info {
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1;
  }
  &__subtitle {
    font-weight: 400;
    text-transform: uppercase;
  }
  &__content {
    padding: 60px 170px 30px;
    border: $border-width solid $primary-color;
    border-top: none;
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      @include posA($top: 0, $left: 0, $delta_x: 0, $delta_y: 0);
      width: 27%;
      border-top: $border-width solid $primary-color;
    }
    &::after {
      left: auto;
      right: 0;
    }
    @media screen and (max-width: 768px) {
      padding: 30px !important;
    }
  }
  &__content > &__title {
    position: absolute;
    @include posA($top: 0);
    margin: 0;
    max-width: 44%;
    max-height: 6.8rem;
    overflow: hidden;
  }
  &--bg &__content {
    border-color: $primary-color;
    &::before,
    &::after {
      border-color: $primary-color;
    }
  }
  .feature {
    background-color: inherit;
  }
}

.partners {
  margin: 0 -10px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .partners {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.partner {
  margin: 10px;
}

.menu {
  width: 300px;
  &__list {
    color: $secondary-color;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__link {
    font-size: 15px;
    letter-spacing: 1px;
    color: $primary-color;
    &:hover {
      color: $secondary-color;
    }
  }
}
.modal__link {
  cursor: pointer;
}
.modalWrap {
  display: none;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.7);
}

.popup-close {
  display: inline-block;
  position: absolute;
  top: 1px;
  right: 5px;
  cursor: pointer;
  font-size: 35px;
  color: $primary-color;
  overflow: hidden;
}
.authorization {
  z-index: 10000;
  padding: 20px 15px 0;
  text-align: center;
  max-width: 450px;
  width: 90%;
  @include posA;
  border-radius: 3px;
  background-position: center;
  background-size: cover;
  min-height: 500px;
  &__title {
    font-size: 22px;
    color: $body-color;
    background-color: rgba($primary-color, 0.5);
  }
  &__input {
    padding: 0 5px;
    color: $secondary-color;
    font-family: $body-ff;
    outline: none;
    border: none;
    font-size: 18px;
    margin: 15px auto;
    height: 60px;
    max-width: 300px;
    width: 100%;
    border-radius: 4px;
    &:hover,
    &:focus {
      box-shadow: 0 0 6px 3px rgba(58, 219, 253, 0.35);
    }
    &::placeholder {
      text-align: center;
    }
    &--sub {
      max-width: 200px;
      width: 50%;
      background-color: $secondary-color;
      color: $primary-color;
      &:hover {
        background: $primary-color;
        color: #3a7999;
        box-shadow: inset 0 0 0 3px $secondary-color;
        @include tr;
        cursor: pointer;
      }
    }
  }
}
